header {
display: flex;
justify-content: center;
align-items: center;
height: 15vh;
background-color: rgb(23, 23, 23);
font-family:'Courier New', Courier, monospace;
font-size: 300%;
color: rgb(255, 255, 255);

}

nav {
    height: 10vh;
    background-color: rgb(43, 43, 43);
    font-size: 150%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* hjhj */


main {
    height: 60vh;
    background-color: black;
}

footer {
    height: 15vh;
    background-color: rgb(43, 43, 43);
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: white;
}
a:hover {
    color: rgb(65, 90, 255);
}
a:active {
    color: rgb(78, 78, 78);
}



body {
margin: 0;

}