header {
height: 15vh;
background-color: rgb(23, 23, 23);
font-family:'Courier New', Courier, monospace;
font-size: 300%;
color: rgb(255, 255, 255);

}

nav {
    height: 10vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-around;

}

/* hjhj */


main {
    height: 60vh;
    background-color: black;
}

footer {
    height: 15vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-around;
}



body {
margin: 0;

}